html, body {
    font-family: "Montserrat Alternates", sans-serif;
    background: #2A2730;
    color: honeydew;
    overflow: hidden;
}


.container {
    border-radius: 50px;
    background: url(../public/rocket.svg) lightgray -218.347px -6.794px / 127.3% 107.728% no-repeat;
    box-shadow: -20px 15px 35px 25px rgba(0, 0, 0.2, 0.3) inset;
    flex-shrink: 0;
    margin: .7rem;
    display: flex;
    width: 120vw;
    height: 95vh;
}

.right-container{

}

.center-container{

}

.search {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.searchInput {
    width: 560px;
    height: 48px;
    padding: 0 1rem;
    color: white;
    border-radius: 24px;
    border: 1px solid #F1B33C;
    background: rgba(241, 179, 60, 0.50);
}

.buttonInputSearch {
    border-radius: 24px;
    background: #F1B33C;
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid #F1B33C;
}

.buttonInputSearch:hover{

}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInput {
    border-radius: 25px;
    background: #2A2730;
    width: 252px;
    height: 136px;
    flex-shrink: 0;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputValor {
    background-color: #2A2730;
    border: none;
    border-bottom: 2px solid #0389A6;
    outline: none;
    padding: 5px;
    color: white;
    width: 160px;
    font-weight: bold;
}

.inputPosition {
    background-color: #2A2730;
    border: none;
    border-bottom: 2px solid #F1B33C;
    outline: none;
    padding: 5px;
    color: white;
    width: 160px;
    font-weight: bold;
}


.left-container{

}