﻿
@page "/"
@using Listas.Models
@using Listas.Services

<PageTitle>Home</PageTitle>

<input type="text" class="form-control mb-2 mt-5" style="width: 26rem" @bind="Informacion" />

<button class="btn btn-success" @onclick="AgregarNodoFinal">
    Agregar Nodo Al final
</button>

<button class="btn btn-primary" @onclick="AgregarNodoInicio">
    Agregar Nodo Al Inicio
</button>

<div>
    <button @onclick="EliminarUltimoNodo">Eliminar Último Nodo</button>
</div>

<hr />

<p class="bg-dark text-white">@Mensaje</p>

<hr />

<ul>
    @foreach (var item in Lista)
    {
        <li>@item</li>
    }
</ul>

@code {

    public string? Informacion { get; set; }

    public ListaEnlazadaSimple Lista { get; set; } = new();

    string Mensaje = string.Empty;

    void AgregarNodoFinal()
    {
        Nodo nuevoNodo = new Nodo(Informacion);

        Mensaje = Lista.AgregarNodoAlFinal(nuevoNodo);

        this.Informacion = string.Empty;
    }

    void AgregarNodoInicio()
    {
        Nodo nuevoNodo = new Nodo(Informacion);

        Mensaje = Lista.AgregarNodoAlInicio(nuevoNodo);

        this.Informacion = string.Empty;
    }

    private void EliminarUltimoNodo()
    {
        Lista.EliminarNodoFinal();
        Mensaje = Lista.EliminarNodoFinal();
    }





}






@*@code {
    private string nuevoValor;

    // Método para agregar un nuevo nodo al final de la lista
    private void AgregarNodo()
    {
        var nuevoNodo = new Nodo { Valor = nuevoValor };
        listaEnlazada.AgregarNodoAlFinal(nuevoNodo);
        nuevoValor = string.Empty; // Limpiar el campo de texto
    }

    // Método para eliminar el último nodo de la lista
    private void EliminarUltimoNodo()
    {
        listaEnlazada.EliminarNodoFinal();
    }
}
 *@