@page "/EliminarNodoAlFinal"

@inject ListaEnlazadaSimple listaEnlazada

<h3>Eliminar un elemento al final de una lista enlazada simple</h3>

<p>
    <button @onclick="AgregarNodoAlFinal">Agregar nodo al final</button>
    <button @onclick="EliminarNodoAlFinal">Eliminar nodo al final</button>
</p>

<ul>
    @foreach (var nodo in listaEnlazada)
    {
        <li>@nodo.Valor</li>
    }
</ul>

@if (mensaje != "")
{
    <p>@mensaje</p>
}

@code {
    private string mensaje = "";

    private void AgregarNodoAlFinal()
    {
        listaEnlazada.AgregarNodoAlFinal(new Nodo("Nuevo nodo"));
    }

    private void EliminarNodoAlFinal()
    {
        mensaje = listaEnlazada.EliminarNodoAlFinal();
    }
}
