@page "/"
@using Listas.Services
@using Listas.Models

<div class="container">
    <div class="right-container">

    </div>
    <div class="center-container">
        <div class="search">
            <input class="searchInput" type="type" name="name"/>
            <button class="btnGeneral buttonInputBusqueda" >Buscar</button>
        </div>
        <div class="inputs">
            <div class="containerInput">
                <label class="valorLabel">Valor:</label>
                <input class="inputValor"  type="type" name="name" />
            </div>
            <div class="containerInput">
                <label class="valorLabel">Posición:</label>
                <input class="inputPosition" type="number" name="name" />
            </div>
        </div>
    </div>
    <div class="left-container">

    </div>
</div>

@code {

}
